/.DS_Store
/INAPPDemo/.DS_Store
/INAPPDemo/INAPPDemo.xcodeproj/xcuserdata/mxy.xcuserdatad/xcschemes/xcschememanagement.plist
/INAPPDemo/INAPPDemo.xcworkspace/xcuserdata/mxy.xcuserdatad/UserInterfaceState.xcuserstate
/INAPPDemo/Pods/.DS_Store
/INAPPDemo/INAPPDemo.xcworkspace/xcuserdata/mxy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/SLDPayByPayment/SLDPayByPayment.framework/.DS_Store
/SLDPayByPayment/.DS_Store
